<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DateTimePicker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21BD9C2F220C9FE700B34704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21BD9C43220C9FE900B34704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21BD9C4E220C9FE900B34704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
